h1{
    background-color:magenta ;
    margin-bottom: 0;
    margin-top: 0;

}
#par1{
    background-color:aqua ;
    margin-bottom: 0;
    margin-top: 0;
}

#par2{
    background-color:magenta ;
    width: 190px;
    margin: auto;
    border: 5px solid;
    border-radius: 5px;

}
.cont{
    border: 5px solid;
    margin: 15px
}