* {
  box-sizing: border-box;
}

.container {
  background-color: aqua;
}

.box1 {
  background-color: blueviolet;
  width: 150px;
  height: 150px;
}
.box2 {
  background-color: rgba(130, 116, 144, 0.453);
  width: 150px;
  height: 150px;
  margin: 10px;
  margin-top: -40px;
  border: 2px solid red;
}
.box3 {
  background-color: rgba(62, 152, 142, 0.4);
  width: 150px;
  height: 150px;
  margin-top: -15px;
}
