.container {
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-evenly;
}

.container div {
  background-color: brown;
  width: 5rem;
  height: 5rem;
  border: 1px solid red;
}

.container1 {
  background-color: aqua;
  height: 20rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.container1 div {
  background-color: pink;
  width: 5rem;
  height: 5rem;
  border: 1px solid red;
  text-align: center;
  align-items: center;
}

.container1 div:nth-child(1) {
  height: 6rem;
}
.container1 div:nth-child(2) {
  height: 9rem;
}

.container1 div:nth-child(3) {
  height: 3rem;
}

ul{
    background-color: azure;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-content: center;
    justify-content: space-around;
    gap: 6rem 3rem;
    
}

li{
    background-color: magenta;
    width: 4rem;
    height: 5rem;
    list-style-type: none ;
}

.container2{
    background-color: yellow;
    padding: 1rem 0;
    display: flex;

}

.container2 div{
background-color: red;
width: 5rem;
margin: 1rem;
}

.grow1{
    flex-grow: 1;
}

.grow2{
    flex-grow: 2;
}

.grow3{
    flex-grow: 3;
}

.grow14{
    flex-grow: 0;
}