h1 {
  color: red;
  text-align: center;
}

.container {
}

#par1 {
  color: aqua;
  text-align: center;
  font-size: 1.3rem;
  text-shadow: -5px 5px 10px black;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 10px black;
  column-count: 3;
  column-rule: 3px solid red;
}
#par2 {
  text-align: right;
  direction: rtl;
}

#par3 {
  text-align: justify;
  text-transform: uppercase;
  direction: rtl;
  letter-spacing: 3px;
  line-height: 1.5;
  word-spacing: 10px;
}
#par4 {
  text-transform: capitalize;
  text-decoration: line-through;
}
#par5 {
  text-transform: lowercase;
  text-decoration: overline;
  direction: rtl;
  unicode-bidi: bidi-override;
}
